
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");


@import "tailwindcss";


@theme {
  --font-geist: "Geist", sans-serif;
}


@layer base {
  body {
    @apply font-geist;
  }
}